<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/osmusic?useUnicode=true&amp;characterEncoding=UTF-8</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="hibernate.connection.password">root</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		<property name="hibernate.generate_statistics">true</property>
		
		
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region_prefix">com.etech.ehcache</property>
		 <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<property name="hibernate.current_session_context_class">thread</property>
		
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">C:/workspace/data/index/</property>
		<property name="hibernate.search.analyzer">org.wltea.analyzer.lucene.IKAnalyzer</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.search.indexing_strategy">event</property>
		<property name="hibernate.ejb.event.post-insert">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-update">org.hibernate.search.event.FullTextIndexEventListener</property>  
		<property name="hibernate.ejb.event.post-delete">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-collection-update">org.hibernate.search.event.FullTextIndexEventListener</property>  
		<property name="hibernate.ejb.event.post-collection-remove">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-collection-recreate">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.flush">org.hibernate.search.event.FullTextIndexEventListener</property>
		<property name="hibernate.search.default.optimizer.operation_limit.max">500</property>
		<property name="hibernate.search.default.optimizer.transaction_limit.max">100</property>
		<property name="hibernate.search.default.indexwriter.max_merge_docs">50</property>
		<mapping class="cn.believeus.model.Admin"/>
		<mapping class="cn.believeus.model.Authority"/>
		<mapping class="cn.believeus.model.Role"/>
		<mapping class="cn.believeus.model.Tmedia"/>
		<mapping class="cn.believeus.model.Tuser"/>
		<mapping class="cn.believeus.model.Tbannar"/>
		<mapping class="cn.believeus.model.MediaCategory"/>
	</session-factory>

</hibernate-configuration>